{% extends "layout_2.html"%}
{% import '_macros.html' as macros %} // Add import statement for macros module
{% block content %}
<h1>ALUMNOS</h1>
<form action="" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    {{ macros.render_field(form.nombre ,class="form-control") }}
    {{ macros.render_field(form.apellido, class="form-control") }}
    {{ macros.render_field(form.email, class="form-control") }}
    {{ macros.render_field(form.edad, class="form-control") }}

    <input type="submit" value="Enviar">
</form>

<h1>
    Nombre: {{ nombre }}
</h1>

{% endblock %}