{% extends "layout_2.html"%}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center align-content-center">

  <div class="">
    <h1>Formulario</h1>
  </div>
  <div class="card p-4" style="width: 20rem;">
    <form class="form" action="/resultado" method="POST">
      <div class="mb-3">
        <label class="form-label" for="inputNumero1">Numero 1</label>
        <input class="form-control" type="text" name="numero1" id="inputNumero1">
      </div>
      <div class="mb-3">
        <label class="form-label" for="inputNumero2">Numero 2</label>
        <input class="form-control" type="text" name="numero2" id="inputNumero2">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Calcular</button>
      </div>

    </form>
  </div>

</div>


{% endblock %}